@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Open+Sans&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

:root{
    --primary-color: hsl(300, 43%, 22%);
    --secondary-color: hsl(303, 10%, 53%);
    --accent-color: hsl(333, 80%, 67%);
    --rating-bg: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

.primary{color: var(--primary-color);}
.secondary{color: var(--secondary-color);}
.white{color: var(--white);}
.accent{color: var(--accent-color);}

.fw-700{font-weight: 700;}

.flex{display: flex;}
.flex-column{flex-direction: column;}
.flex-row{flex-direction: row;}

body{
    background: url(../images/bg-pattern-top-mobile.svg) top left no-repeat,
    url(../images/bg-pattern-bottom-mobile.svg) bottom right no-repeat,
    var(--white);
    min-height: 100vh;
    height: auto;
}

main{
    padding: 5em 1.5em;
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 3em;
}

#header{text-align: center; row-gap: 1.5em;}
.title{font-size: 2.5rem; line-height: 0.8;}
.subtitle{font-size: 1.2rem; line-height: 1.3;}

#rating, #testimonial{row-gap: 1em;}
.rating__card{
    background-color: var(--rating-bg);
    border-radius: 0.5em;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 0.5em;
    justify-items: center;
    padding-block: 1em;
    font-size: 1.1rem;
}

.star__group{column-gap: 0.5em;}

.quote__card{
    background-color: var(--primary-color);
    padding: 2.5em 2em;
    border-radius: 0.5em;
}

.quote__group{
    column-gap: 1.5em;
    margin-block-end: 1.5em;
}
.quote__group img{height: 2.8em; border-radius: 50%; align-self: center;}

.quote__name{font-size: 1.15rem; line-height: 1.2;}
.quote{font-size: 1.1rem; font-weight: 500;}

@media only screen and (min-width: 1000px) {
    body{
        background: url(../images/bg-pattern-top-desktop.svg) top left no-repeat,
        url(../images/bg-pattern-bottom-desktop.svg) bottom right  no-repeat,
        var(--white);
        display: grid;
        place-content: center;
    }

    main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: 4em;
        column-gap: 12em;
        padding: 6em 8em;
        max-width: 1440px;
    }

    #header{text-align: left;}
    .title{font-size: 4.5rem;}
    .subtitle{font-size: 1.35rem;}

    #testimonial{grid-column: span 2; flex-direction: row; column-gap: 2em;}

    #rating{align-self: center;}
    .rating__card{
        grid-template-columns: auto 1fr;
        grid-template-rows: none;
        justify-items: start;
        align-items: center;
        width: 85%;
    }
    .star__group{padding-inline: 2em;}

    .rating__card:nth-child(2){margin-inline-start: 3em;}
    .rating__card:nth-child(3){margin-inline-start: 6em;}

    .quote__card{height: max-content;}
    .quote__card:nth-child(2){margin-block-start: 2em;}
    .quote__card:nth-child(3){margin-block-start: 4em;}

    .quote{font-size: 1.2rem;}
}